body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  z-index: -1;
}
h1 {
  color: rgb(232, 7, 248);
  font-size: 60px;
  opacity: 0.8;
}
header {
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.bgBtn {
  width: 200px;
  height: 60px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: rgba(220, 12, 227, 0.538);
  margin-left: 300px;
  cursor: pointer;
  box-shadow: rgba(229, 9, 218, 0.22) 0px 19px 38px,
    rgba(239, 6, 192, 0.135) 0px 15px 12px;
}
.bgBtn:hover {
  background: transparent;
  color: whitesmoke;
  font-size: 20px;
  border: 2px solid rgb(220, 12, 227);
  transition: 300ms ease-in-out;
}
.bi {
  font-size: 50px;
}
.btn {
  width: 200px;
  height: 60px;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: rgba(220, 12, 227, 0.538);
  margin-left: 300px;
  cursor: pointer;
  box-shadow: rgba(229, 9, 218, 0.22) 0px 19px 38px,
    rgba(239, 6, 192, 0.135) 0px 15px 12px;
}
.btn:hover {
  background: transparent;
  color: whitesmoke;
  font-size: 55px;
  border: 2px solid rgb(220, 12, 227);
  transition: 300ms ease-in-out;
  width: 195px;
  height: 65px;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.bgBtn:hover a {
  background: transparent;
  color: whitesmoke;
  font-size: 24px;
  transition: 300ms ease-in-out;
  width: 100px;
  height: 65px;
}
